<div class="container">
<div class ="c-h">
<h1><%=@task.title%></h1>
<%=link_to '<i class="fas fa-pen"></i> Edit task'.html_safe, edit_task_path(), class: "edit-btn"%>
</div>
<p><%=@task.details%></p>

  <input type="checkbox" name="<%=@task.id%>" <%= "checked" if @task.completed == true%>>
  <label for="<%=@task.id%>"><%= @task.completed == true ? "This task is Completed": "This task is not completed yet" %></label>
  <br>


<%=link_to '<i class="fas fa-history"></i> Back to tasks'.html_safe, tasks_path()%>

</div>
